table.day_schedule {
    border: 2pt solid black;
    width: 100%;
}

table.day_schedule th {
    width: 10%;
}

td.comfort {
    background: #ff9900;
}

td.holidays {
    background: #00cc00;
}

td.reduced {
    background: #9999ff;
}

td.c0 {
    background: #ff5555;
}

td.c1 {
    background: #ff9999;
}

td.c2 {
    background: #ff00ff;
}

td.c3 {
    background: #00ffff;
}