header ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
    font-variant: small-caps;
    font-weight: bold;
}

ul.valves {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.valve {
    flex-basis: content;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    margin: 10px;
}

.valve_behaviour {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.power_status {
    color: blue;
}

.heat_required_true {
    color: red;
}

.wanted_temperature {

    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
    background-color: lightgray;

    width: fit-content;
}

.power_status {
    margin-left: 10px;
    margin-right: 10px;
}

.valve_details {
    margin-left: 10px;
}

form #wanted_temperature {
    width: 3.5em;
}

.hv_head {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

.hv_holiday {
    flex-grow: 1;
}

.hv_summary {
    flex-grow: 0.5;
}

.hv_holiday form fieldset {
    border-radius: 10px;
}

.hv_holiday form fieldset legend {
    font-weight: bold;
}

