<!DOCTYPE html>
<html>
    <head>
        <title>HomeClimInterface</title>
        <link rel="stylesheet" type="text/css" href="{{ urls.get("static").unwrap() }}/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ urls.get("static").unwrap() }}/schedule_style.css" />
        <link rel="shortcut icon" type="image/png" href="{{ urls.get("static").unwrap() }}/favicon.ico" />
    </head>

    <body>

        <header>
            <ul>
                <li><a href="{{ urls.get("heater_valves").unwrap() }}">Heater valves</a></li>
                <li><a href="{{ urls.get("temperature_schedules").unwrap() }}">Temperature schedules</a></li>
                <li><a href="{{ urls.get("preset_temperatures").unwrap() }}">Preset temperatures</a></li>
                <li><a href="{{ urls.get("parameters").unwrap() }}">Parameters</a></li>
                <li><a href="{{ urls.get("login").unwrap() }}">Login / Logout</a></li>
            </ul>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

    </body>
</html>