{% extends "base.html" %}

{% block content %}

<h1>Preset temperatures</h1>

MESSAGES À IMPLÉMENTER

<ul class="temperatures">
{% for temperature in temperatures %}
    <li>
        <form action="" method="post">
            {{ temperature.name }}
            <input type="hidden" name="temperature_id" value="{{ temperature.id }}" />
            <input type="submit" name="delete" value="Delete preset temperature" />
        </form>
        <ul>
            <li>Letter code: {{ temperature.letter_code }}</li>
            <li>
                Temperature: {{ temperature.temperature }}
                <form method="post" action="">
                    <input type="number" name="temperature" step="any" required id="temperature">
                    <input type="hidden" name="temperature_id" value="{{ temperature.id }}" />
                    <input type="submit" name="update" value="Update temperature" />
                </form>
                MESSAGES À IMPLÉMENTER
            </li>
        </ul>
    </li>
{% endfor %}
</ul>

<form action="" method="post">
    <input type="hidden" name="create_default_temperature" />
    <p>
        <label for="name">Name:</label>
        <input type="text" name="name" maxlength="32" required id="name">
    </p>
    <p>
        <label for="letter_code">Letter code:</label>
        <input type="text" name="letter_code" maxlength="1" required id="letter_code">
    </p>
    <p>
        <label for="temperature">Temperature:</label>
        <input type="number" name="temperature" step="any" required id="temperature">
    </p>
    <p>
        <input type="submit" value="Create a new preset temperature">
    </p>
    
</form>

{% endblock %}