{% extends "base.html" %}

{% block content %}

<div class="hv_head">
    <div class="hv_summary">
        <h1>Heater valves</h1>

        <p>
            <input type="checkbox" id="auto_refresh" checked>
            <label for="auto_refresh">Auto-refresh</label>
        </p>
        
        <p>Number of valves: {{ valves.len() }}</p>
    </div>
    <div class="hv_holiday">
        <form method="post" action="{{ holiday_form_url }}">
            <fieldset>
                <legend>Holiday mode</legend>
                <p>
                    Status :
                    <span class="holiday{% if holiday.active %}active{% else %}inactive{% endif %}">
                        {% if holiday.active %}active{% else %}inactive{% endif %}
                    </span>
                </p>
                <p>
                    End date:
                    <select
                        name="day_of_week"
                        id="day_of_week"
                        {% if holiday.active %}disabled{% endif %}
                    >
                    {% for i in 0..7 %}
                        <option
                            value="{{ i }}"
                            {% if i == holiday.day_of_week %}selected{% endif %}
                        >
                            {{ DayOfWeek::try_from(i.to_owned()).unwrap()|capitalize }}
                        </option>
                    {% endfor %}
                    </select>
                    <select
                        name="hour"
                        id="hour"
                        {% if holiday.active %}disabled{% endif %}
                    >
                    {% for hour in 0..24 %}
                        <option
                            value="{{ hour }}"
                            {% if hour == holiday.hour %}selected{% endif %}
                        >
                            {{ "{:02}"|format(hour) }}
                        </option>
                    {% endfor %}
                    </select> h
                    <select
                        name="minute"
                        id="minute"
                        {% if holiday.active %}disabled{% endif %}    
                    >
                    {% for multiple in 0..12%}
                        {% let minute = multiple * 5 %}
                        <option
                            value="{{ multiple * 5 }}"
                            {% if multiple * 5 == holiday.minute %}selected{% endif %}
                        >
                            {{ "{:02}"|format(multiple * 5) }}
                        </option>
                    {% endfor %}
                    </select> min : 
                    <select
                        name="temperature"
                        id="temperature"
                        {% if holiday.active %}disabled{% endif %}    
                    >
                    {% for temperature in temperatures %}
                        <option
                            value="{{ temperature }}"
                            {% if temperature.to_owned() == holiday.temperature %}selected{% endif %}
                        >
                            {{ "{:.1}"|format(temperature) }} °C
                        </option>
                    {% endfor %}
                    </select>
                </p>
                <p>
                    <input
                        type="submit"
                        name="{% if holiday.active %}deactivate{% else %}activate{% endif %}"
                        value="{% if holiday.active %}Deactivate{% else %}Activate holiday mode{% endif %}"
                    >
                </p>
            </fieldset>
        </form>
    </div>
</div>

<ul class="valves">
{% for valve in valves %}
    <li class="valve">
        <div class="valve_summary">
            <h3>{{ valve.friendly_name }}</h3>
            <h4>{% if valve.schedule_name.is_some() %}{{ valve.schedule_name.as_ref().unwrap() }}{% endif %}</h4>
            <div class="valve_behaviour">
                <div class="wanted_temperature">{{ valve.wanted_temperature }}</div>
                <div class="power_status{% if valve.heat_required %} heat_required_true{% endif %}">
                    <div class="heat_required">{% if valve.heat_required %}ON{% else %}OFF{% endif %}</div>
                    <div class="heating_demand">{{ valve.heating_demand }}%</div>
                </div>
                <div class="measured_temperature">&#127777;{{ valve.measured_temperature }}°C</div>
            </div>
        </div>
        <div class="valve_details">
            <form action="" method="post">
                <input type="hidden" name="valve_id" value="{{ valve.friendly_name }}" />
                    <p>
                            <select name="schedule">
                            {% for schedule in schedules %}
                                <option value="{{ schedule.id }}" {% if schedule.id == valve.schedule_id.unwrap_or_default() %}selected{% endif %}>
                                    {{ schedule.name }}
                                </option>
                            {% endfor %}
                            </select><br>
                            <input type="submit" name="update_schedule" value="Update valve schedule" />
                    </p>

                    <p>
                        <input type="submit" name="unset_schedule" value="Unset schedule for this valve" />
                    </p>
            </form>
            <form action="" method="post">
                <input type="hidden" name="valve_id" value="{{ valve.friendly_name }}" />
                <p>
                    <input type="number" id="wanted_temperature" name="wanted_temperature" min="5" max="35" step="0.5" value="{{ valve.wanted_temperature }}">
                    <input type="checkbox" name="aggressive" id="aggressive-{{ valve.friendly_name }}">
                    <label for="aggressive-{{ valve.friendly_name }}">Aggressive</label><br>
                    <input type="submit" name="update_temperature" value="Update wanted temperature" />
                </p>
            </form>
        </div>
    </li>
{% endfor %}
</ul>

<script>
    let autoRefresh = document.getElementById('auto_refresh');

    function periodicRefresh(delay) {
        console.log('Next check for auto-refresh in ' + delay / 1000 + ' seconds.');
        setTimeout(() => {
            if (autoRefresh.checked) {
                console.log('Refreshing page content.')
                location.reload();
            } else {
                console.log('Periodic refresh deactivated.')
                periodicRefresh(delay);
            }
        }, delay)
    }

    periodicRefresh(30000);
</script>

{% endblock %}