{% extends "base.html" %}

{% block content %}
<h1>Authentication</h1>

<p>Please sign in to see and update heater valves schedules.</p>


<form method="post" action="">
    <p>
        <label for="username">Username :</label>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password">Password :</label>
        <input type="password" name="password" id="password">
    </p>
    <input type="submit" value="Sign in" />
</form>

<p>MESSAGES A IMPLÉMENTER</p>
{% endblock %}