{% extends "base.html" %}

{% block content %}

<h1>Paramètres</h1>

<h2>Fuseau horaire</h2>

<form method="post" action="">
    <p>
        <label for="timezone">Fuseau horaire sélectionné :</label>
        <select name="timezone" id="timezone" required>
            <option value="">--- Sélectionnez le fuseau horaire ---</option>
        {% for timezone in timezones %}
            <option value="{{ timezone.name }}" {% if timezone.selected %}selected{% endif %}>{{ timezone.name }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Enregistrer">
    </p>
</form>

<form method="post" action="">
    <fieldset>
        <legend>Ajout d'un fuseau horaire</legend>
        <p>
            <label for="name">Nom du fuseau horaire :</label>
            <input name="name" id="name" type="text" required>
        </p>
        <p>
            <label for="minutes_offset">Décalage : </label>
            <input name="minutes_offset" id="minutes_offset" type="number" required value="0"> minutes
        </p>
        <p>
            <input type="submit" value="Ajouter">
        </p>
    </fieldset>
</form>



{% endblock %}