{% extends "base.html" %}

{% block content %}

<h1> Temperature schedules</h1>

<p>MESSAGES À IMPLÉMENTER</p>

<ul class="schedules">
{% for schedule in schedules %}
    <li>
        <a href="{{ urls.get("temperature_schedules").unwrap() }}/{{ schedule.id }}">{{ schedule.name }}</a> AJOUTER MINI RÉSUMÉ
        <form action="" method="post">
            <button type="submit" name="delete_schedule" value="{{ schedule.id }}">Delete schedule</button>
        </form>
    </li>
{% endfor %}
</ul>

<form action="" method="post">
    <input type="text" name="schedule_name" required>
    <input type="submit" name="create_schedule" value="Create a new schedule">
</form>

{% endblock %}