{% extends "base.html" %}

{% block content %}

<h1>Schedule {{ schedule.name }}</h1>

<h2>Informations générales</h2>

<form method="post" action="">
    <input type="hidden" value="{{ schedule.id }}" name="id">
    <p>
        <label for="name">Nom du calendrier :</label>
        <input type="text" value="{{ schedule.name }}" placeholder="Nom du calendrier" name="name" id="name" required>
        <input type="submit" value="Modifier le nom">
    </p>
</form>

<h2>Détails</h2>

<form method="post" action="">
    <input type="hidden" value="{{ schedule.id }}" name="id">
    <p>
        <select name="day_of_week" id="day_of_week">
        {% for i in 0..7 %}
            <option value="{{ i }}">{{ DayOfWeek::try_from(i.to_owned()).unwrap()|capitalize }}</option>
        {% endfor %}
        </select>
        <select name="hour" id="hour">
        {% for hour in 0..24 %}
            <option value="{{ hour }}">{{ "{:02}"|format(hour) }}</option>
        {% endfor %}
        </select> h
        <select name="minute" id="minute">
        {% for multiple in 0..12%}
            <option value="{{ multiple * 5 }}">{{ "{:02}"|format(multiple * 5) }}</option>
        {% endfor %}
        </select> min : 
        <select name="temperature" id="temperature">
        {% for temperature in temperatures %}
            <option value="{{ temperature }}">{{ "{:.1}"|format(temperature) }} °C</option>
        {% endfor %}
        </select>
        <input type="submit" value="Ajouter la consigne de température">
    </p>
</form>

<ul>
{% for (key, value) in schedule_schedule_sorted %}
    <li>
        {{ TimeOfWeek::from(key.to_owned()) }} : {{ value }} °C
        <form method="post" action="">
            <input type="hidden" value="{{ schedule.id }}" name="id">
            <button type="submit" name="delete_entry" value="{{ key }}" onclick="console.log('name: delete_entry, value: {{ key }}')">Supprimer</button>
        </form>
    </li>
{% endfor %}
</ul>

{% endblock %}